* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#snakeGround {
    display: flex;
    flex-direction: column;
}

.row{
    width: 100%;
    height: 100%;
    display: flex;
}

.pixel{
    background: whitesmoke;
    width: 100%;
    height: 100%;
    
    display: table-cell;
}

.snake{
    background: red;
}



